html,
body,
#root {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  align-items: center; /* vertical center */
  justify-content: center; /* horizontal center */
  background: #0f172a;
  font-family: system-ui, sans-serif;
}

main {
  max-width: 800px;
  margin: auto;
  padding: 2rem 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin-bottom: 2rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 1fr));
  gap: 1rem;
  width: 100%;
}

.card {
  z-index: -1;
  aspect-ratio: 1;
  font-size: 1.5rem;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.2);
}

.card.locked {
  background: #334155;
  opacity: 0.5;
  cursor: not-allowed;
}

.card.active {
  background: #22c55e;
}

.cardFinal {
  width: 100%;
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999; /* VERY high, above all cards */
}

.modal {
  background: white;
  color: black;
  padding: 1rem;
  border-radius: 12px;
  width: 90%;
  max-width: 800px;
}

.card-wrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1;
  perspective: 1000px;
  cursor: pointer;
}
.card-wrapper:nth-child(1) {
  grid-column: span 2;
  aspect-ratio: 2 / 1;
}

.card-wrapper:nth-child(6) {
  grid-column: 1 / -1; /* hero card spans all 3 columns */
  aspect-ratio: 3 / 1;
}

.doors {
  position: relative;
  width: 100%;
  height: 100%;
}

.door {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50%;
  background: linear-gradient(135deg, #dc2626, #991b1b);
  border: 1px solid #991b1b;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  z-index: 1;
}

.door.left {
  left: 0;
  transform-origin: left center;
}

.door.right {
  right: 0;
  transform-origin: right center;
}

.day-label {
  position: absolute;
  top: 8px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  z-index: 2;
}
.day-label-relative {
  position: relative;
  font-size: 1.4em;
}
.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.modal-content {
  width: calc(100%-40px);
  /* aspect-ratio: 16/9; */
  border-radius: 8px;
  overflow: hidden;
  background-color: #991b1b;
  max-width: 900px;
  gap: 20px;
  padding: 20px;
}

.video-wrapper {
  width: 100%;
  aspect-ratio: 16/9;
}
